# Exercise 1: The basics - variables and types

## Let's create some variables and print their values

Create a variable called `course` and assign it the value `"python"`

In [84]:
course = "python"

Create a variable called `rating` and assign it an integer value (anything you like).

In [85]:
rating = 3

Print both variables to the screen using the `print` function.

In [86]:
print(course, rating)

python 3

Also try it printing the values without the `print` function.

_Note: This will work in notebooks, although what you see may be slightly different from what you get with `print`. In a script you would need to use `print`._

In [87]:
course, rating

('python', 3)

## Let's use Pythagoras theorem to calculate the length of the hypotenuse of a right-angled triangle where the other sides have lengths 3 and 4.

Create variables called `b` and `c` and assign them the values of the sides with known lengths.

In [88]:
b = 3
c = 4

Write a mathematical expression to calculate the length of the hypotenuse (REMEMBER: "_a_-squared equals _b_-squared plus _c_-squared").

In [89]:
(b**2 + c**2) ** 0.5

5.0

Create a variable `a` that equals the result of the calculation.

In [90]:
a = (b**2 + c**2) ** 0.5

Print the value of variable `a`.

In [91]:
print(a)

5.0

## Let's take a look at some data types.

Print the data type of each of the variables: `a`, `b`, `c`

In [92]:
print(type(a))

<class 'float'>

In [93]:
print(type(b), type(c))

<class 'int'> <class 'int'>

Can you work out why `a` is different from `b` and `c`?

_Hint: look at `type(b**2 + c**2)` and `type(0.5)`. Experiment with different operands for `**` - when is the output a `float`?_

In [94]:
type(b**2 + c**2)

int

In [95]:
type(0.5)

float

In [96]:
type(2 ** 2)

int

In [97]:
type(0.5 ** 0.5)

float

In [98]:
type(2 ** 0.5)

float

In [99]:
type(0.5 ** 2)

float

## Let's investigate converting between data types.

Use the `int()` built-in function to convert `a` into an integer type.

In [100]:
a = int(a)

Print the data type of `a` to check it worked.

In [101]:
print(type(a))

<class 'int'>

Now try running the following line of code:
```
print(a + " squared equals " + b + " squared + " + c + " squared.")
```

In [102]:
print(a + " squared equals " + b + " squared + " + c + " squared.")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

You should get an error, do you know why?

_Hint: just consider the first `+`. What are the types of its arguments?_

In [103]:
print(type(a))

<class 'int'>

In [104]:
print(type(" squared equals "))

<class 'str'>

Try using the built-in `str()` (convert to string) function to fix the error.

In [105]:
print(str(a) + " squared equals " + str(b) + " squared + " + str(c) + " squared.")

5 squared equals 3 squared + 4 squared.

_Note: in fact `print` gives you essentially the output of `str()` for each of the comma-separated items, adding spaces between them. This is what we saw above with `print(course, rating)`._

_Also try this:_
_`print(a, "squared equals", b, "squared +", c, "squared.")`_

In [106]:
print(a, "squared equals", b, "squared +", c, "squared.")

5 squared equals 3 squared + 4 squared.